@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
    
}

.rtl {
    font-style: normal !important;
    direction: rtl !important;
    text-align: right !important;
}
