@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
    
}

.rtl {
    font-style: normal !important;
    direction: rtl !important;
    text-align: right !important;
}
h1 {
    font-size: 1em !important;
}

p > img {
    background: #02c077;
}
strong > img {
    background: transparent !important;
}
